DATABASE_URL=mysql+pymysql://root:mysqlpassword0@localhost:3306/sensorboard_db
SECRET_KEY=5b7f28934f4017cc5a370fc26e40dc83bb28086dede7bce313c4b459918a07e8
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_PROD=
SIMULATOR_API_KEY=3c41ade7bdf4dcf42cf2e8f85e699821602c7bc9cdf8585d